---
import { Image } from 'astro:assets'

const list = [
  'Basculas para pesaje en barco',
  'Pesaje de camiones y ferrocarriles',
  'Basculas industriales y celulas de carga especiales',
  'Metrologia legal',
  'Mantenimiento preventivo y correctivo',
  'Ingeniería multidisciplinar',
  'Sector pesquero',
  'Acuicultura en el mar',
  'Investigación e invención multidisciplinar l + l + M',
  'Biotecnología',
  'Medio ambiente',
  'Sector aereo drones',
  'Frigorificos',
  'Sector de la conserva'
]

const images = await Astro.glob('../assets/applications/*.{jpg,jpeg,webp}')
---

<section
  id="aplicaciones"
  class="container -scroll-mt-6 pt-10 md:-scroll-mt-10 md:pt-16"
>
  <h2
    class:list={[
      'mb-11 mt-6 text-center text-2xl font-black text-neutral sm:text-3xl',
      'md:mb-14'
    ]}
  >
    Áreas de Trabajo
  </h2>
  <div class="columns-3xs gap-x-8">
    {
      images.map((image, index) => (
        <article
          class:list={[
            'card card-compact mb-10 inline-block bg-primary text-white',
            'shadow-xl'
          ]}
        >
          <figure>
            <Image class="object-cover" src={image.default} alt="" />
          </figure>
          <div class="card-body">
            <h3 class="card-title">{list[index]}</h3>
          </div>
        </article>
      ))
    }
  </div>
</section>
